.Body {
  text-align: left;
  background-color: #eeffe7;
  height: 100%;
}

.Header-image {
  float: left;
  margin-right: 10px;
}

.App-header {
  width: 100%;
  background-color: rgb(8, 151, 85);
  height: 210px;
  padding: 20px;
  color: white;

}

.App-title {
  color: black;
  font-size: 2em;
  font-family: 'Anton', sans-serif;
  float: left;
}

.Menu{
  background-color: white;
  align-items: space-around;
  text-align: center;
  border-bottom: 2px solid black;
}

.Menu-link {
  font-family: 'Montserrat', sans-serif;
  font-size: medium;
  margin-left: 3px;
  margin-right: 3px;
  height: 30px;
  line-height: 30px;
}

.Biography {
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.8em;
}

.Others {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 80px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.8em;
}

.Skills {
  text-align: center;
  margin: 15px;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-evenly;
  align-items: center;
}


